<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
</head>

<body>
    <div class="border contenedor">
        <main>
            <header class="header" id="header">
                <img src="../assets/img/selogo.jpg" alt="logoSecretaria">
                <h1>Ticket de Turno</h1>
                <img src="../assets/img/number.jpg" alt="imagen turno">
            </header>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <!-- <fieldset> -->
                <div class="contenedor-contenido" id="contenidoForm">
                    <div class=" contenido">
                        <div>
                            <label for="nombre_completo">Nombre Completo de quien realizá el trámite: </label>
                            <input type="text" name="nombreCompleto" id="nombreCompleto"
                                formControlName="nombreCompleto"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['nombreCompleto'].errors }" />
                            <div
                                *ngIf="registerForm.get('nombreCompleto')?.invalid &&
                                    registerForm.get('nombreCompleto')?.errors &&
                                    (registerForm.get('nombreCompleto')?.dirty || registerForm.get('nombreCompleto')?.touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.get('nombreCompleto')?.hasError('required')">
                                    El nombre es requerido
                                </small>
                                <small class="text-danger"
                                    *ngIf="registerForm.get('nombreCompleto')?.hasError('minlength')">
                                    el nombre debe ser de almenos 3 caracteres
                                </small>
                            </div>
                        </div>
                        <div>
                            <label for="curp">CURP: </label>
                            <input type="text" name="curp" id="curp" formControlName="curp"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['curp'].errors }">
                            <div *ngIf="registerForm.get('curp')?.invalid &&
                                registerForm.get('curp')?.errors &&
                                (registerForm.get('curp')?.dirty || registerForm.get('curp')?.touched)">
                                <small class="text-danger" *ngIf="registerForm.get('curp')?.hasError('required')">
                                    El curp es requerido
                                </small>

                                <small class="text-danger" *ngIf="registerForm.get('curp')?.hasError('pattern')">
                                    Curp Invalido
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="contenido">
                        <div>
                            <label for="nombre">Nombre: </label>
                            <input type="text" name="nombre" id="nombre" formControlName="nombre"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['nombre'].errors }">
                            <div *ngIf="submitted && registerForm.controls['nombre'].errors" class="text-danger">
                                <div *ngIf="registerForm.controls['nombre'].errors['required']">El nombre es requerido
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="apellido_paterno">Paterno: </label>
                            <input type="text" id="apellido_paterno" name="apellido_paterno"
                                formControlName="apellido_paterno"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['apellido_paterno'].errors }">
                            <div
                                *ngIf="registerForm.get('apellido_paterno')?.invalid &&
                                registerForm.get('apellido_paterno')?.errors &&
                                (registerForm.get('apellido_paterno')?.dirty || registerForm.get('apellido_paterno')?.touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.get('apellido_paterno')?.hasError('required')">
                                    El apellido paterno es requerido
                                </small>
                                <small class="text-danger"
                                    *ngIf="registerForm.get('apellido_paterno')?.hasError('minlength')">
                                    el apellido paterno debe ser de almenos 3 caracteres
                                </small>
                            </div>
                        </div>
                        <div>
                            <label for="apellido_materno">Materno: </label>
                            <input type="text" id="apellido_materno" name="apellido_materno"
                                formControlName="apellido_materno"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['apellido_materno'].errors }">
                            <div
                                *ngIf="registerForm.get('apellido_materno')?.invalid &&
                                registerForm.get('apellido_materno')?.errors &&
                                (registerForm.get('apellido_materno')?.dirty || registerForm.get('apellido_materno')?.touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.get('apellido_materno')?.hasError('required')">
                                    El apellido materno es requerido
                                </small>
                                <small class="text-danger"
                                    *ngIf="registerForm.get('apellido_materno')?.hasError('minlength')">
                                    el apellido materno debe ser de almenos 3 caracteres
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="contenido">
                        <div>
                            <label for="telefono">Telefono:</label>
                            <input type="tel" id="telefono" name="telefono" formControlName="telefono"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['telefono'].errors }">
                            <div *ngIf="registerForm.get('telefono')?.invalid &&
                                registerForm.get('telefono')?.errors &&
                                (registerForm.get('telefono')?.dirty || registerForm.get('telefono')?.touched)">
                                <small class="text-danger" *ngIf="registerForm.get('telefono')?.hasError('required')">
                                    El telefono es requerido
                                </small>
                                <small class="text-danger" *ngIf="registerForm.get('telefono')?.hasError('maxlength')">
                                    el telefono debe ser de maximo 10 caracteres
                                </small>
                            </div>
                        </div>
                        <div>
                            <label for="celular">Celular:</label>
                            <input type="tel" id="celular" name="celular" formControlName="celular"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['celular'].errors }">
                                <div
                                *ngIf="registerForm.get('celular')?.invalid &&
                                    registerForm.get('celular')?.errors &&
                                    (registerForm.get('celular')?.dirty || registerForm.get('celular')?.touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.get('celular')?.hasError('required')">
                                    El telefono es requerido
                                </small>
                                <small class="text-danger"
                                    *ngIf="registerForm.get('celular')?.hasError('maxlength')">
                                    el celular debe ser de maximo 10 caracteres
                                </small>
                            </div>
                        </div>
                        <div>
                            <label for="correo">Correo: </label>
                            <input type="email" name="correo" id="correo" formControlName="correo"
                                [ngClass]="{ 'is-invalid': submitted && registerForm.controls['correo'].errors }">
                            <div
                                *ngIf="registerForm.get('nombreCompleto')?.invalid &&
                                registerForm.get('nombreCompleto')?.errors &&
                                (registerForm.get('nombreCompleto')?.dirty || registerForm.get('nombreCompleto')?.touched)">
                                <small class="text-danger"
                                    *ngIf="registerForm.get('nombreCompleto')?.hasError('required')">
                                    El nombre es requerido
                                </small>
                                <small class="text-danger"
                                    *ngIf="registerForm.get('nombreCompleto')?.hasError('email')">
                                    correo invalido
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="contenido">
                        <div class="contenedor">
                            <label for="nivel">¿Nivel al que desea ingresar o que ya esta cursando el alumno?: </label>
                            <select class="selects" name="nivel" id="nivel">
                                <option value="" selected disabled hidden>--selecccionar--</option>
                                <option value="preescolar">preescolar</option>
                                <option value="primaria">primaria</option>
                                <option value="secundaria">secundaria</option>
                            </select>
                        </div>
                        <div>
                            <label for="municipio">Municipio donde desea estudie el alumno: </label>
                            <select class="selects" name="municipio" id="municipio">
                                <option value="" selected disabled hidden>--selecccionar--</option>
                                <option value="saltillo">saltillo</option>
                                <option value="parras">parras</option>
                                <option value="torreon">torreon</option>
                            </select>
                        </div>
                        <div>
                            <label for="asunto">Seleccione el asunto que va a tratar: </label>
                            <select class="selects" name="asunto" id="asunto">
                                <option value="" selected disabled hidden>--selecccionar--</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="btn"><button id="enviarFormulario" type="submit">Generar Turno</button></div>
            </form>
        </main>
        <footer class="contenedor-contenido footer">
            <img src="../assets/img/codigoBarras.jpg" alt="">
            <img src="../assets/img/qr.jpg" alt="">
        </footer>
    </div>
</body>

</html>